body{
	background-color: #59B1FF;
	font-family: Times new Roman;
}
.head{
	color: #4A8FFF;
	background-image: url(https://static.vecteezy.com/system/resources/thumbnails/039/351/571/small_2x/ai-generated-sunset-over-paradise-tropical-island-beach-golden-hour-beautiful-sunset-soft-light-photo.jpg);
	background-position: center;
  	background-size: cover;
	padding: 15px;
	margin: 20px;
	border-radius: 20px;
	text-shadow: 3px -2px 5px rgba(255,255,255,1);

}
.navbar{
	background: rgb(250,199,42);
	background: linear-gradient(180deg, rgba(250,199,42,1) 0%, rgba(238,165,63,1) 65%);
}
textarea{
	color: #505050;
}
